#logo{
    height: 7vh;
}

.carousel-inner img{
    height: 100vh;
}

.card img{
    height: 35vh;
}

.alert{
    margin-top: 30%;
    position: fixed;
    z-index: 100;
    cursor: pointer;
}

.alert:hover{
    box-shadow: 0px 0px 5px 5px white;
}
